@import 'normalize.css';
@import url("../fonts/OpenSans-Light.ttf");
html {
  /*overflow-y: scroll;*/
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #aa00aa;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  min-height: 100%;
  /*background-color: $body-colour;*/
  background-color: #18181b;
  color: #efeff1;
  font-family: "Open Sans", sans-serif;
  /*@include scrollbars(.5em, slategray);*/
}

header {
  height: 6.313rem;
}

.field-validation-error {
  color: #aa00aa;
}

.navbar {
  z-index: 9998;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #18181b;
  height: inherit;
  width: 100%;
  border-bottom: 0.5px solid #aa00aa;
}
.navbar .nav-header {
  display: flex;
  height: 60%;
  align-items: stretch;
  flex-wrap: nowrap;
}
.navbar .nav-header .navbar-brand {
  flex-grow: 1;
  flex-shrink: 2;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.navbar .nav-header .navbar-brand a {
  height: 100%;
}
.navbar .nav-header .navbar-brand a img {
  height: 85%;
}
.navbar .nav-header .navbar-search {
  flex-grow: 2;
  flex-shrink: 1;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-header .navbar-search .search-container {
  height: 100%;
  flex-basis: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-header .navbar-search .search-container form {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.navbar .nav-header .navbar-search .search-container form input {
  width: 65%;
  height: 70%;
  max-width: 40rem;
  background-color: #464649;
  border: 2px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  display: inline-block;
  float: left;
}
.navbar .nav-header .navbar-search .search-container form input:hover {
  outline: none;
  border-color: #18181b;
}
.navbar .nav-header .navbar-search .search-container form input:focus {
  outline: none;
  background-color: #0e0e10;
  border-color: #aa00aa;
  color: #efeff1;
}
.navbar .nav-header .navbar-search .search-container form button {
  height: 70%;
  width: 6%;
  background-color: #464649;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid;
  display: inline-block;
}
.navbar .nav-header .navbar-search .search-container form button img {
  width: 60%;
  height: 100%;
}
.navbar .nav-header .navbar-user {
  flex-grow: 1;
  flex-shrink: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1.2rem;
  padding-right: 5px;
}
.navbar .nav-header .navbar-user a {
  position: relative;
  padding: 5px;
  text-decoration: none;
}
.navbar .nav-header .navbar-user a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #aa00aa;
  transition: transform 0.3s;
}
.navbar .nav-header .navbar-user a:hover:after {
  transform: scaleX(1);
}
.navbar .nav-header .navbar-user .settings-toggle {
  cursor: pointer;
}
.navbar .nav-header .navbar-user .settings-toggle:before {
  font-family: "FontAwesome";
  content: "\f013";
}
.navbar .nav-header .navbar-user .dropdown-content {
  display: none;
  position: relative;
  top: 4.8rem;
  right: 4rem;
  background-color: #18181b;
  min-width: 100px;
  z-index: 1;
}
.navbar .nav-header .navbar-user .dropdown-content a {
  padding: 10px;
  display: block;
  border: 1px solid #aa00aa;
  text-align: center;
}
.navbar .nav-header .navbar-user .show {
  display: block;
}
.navbar .nav-cats-small {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .navbar .nav-cats-small {
    display: flex;
  }
}
@media (min-width: 992px) {
  .navbar .nav-cats-small {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar .nav-cats-small {
    display: none;
  }
}
.navbar .nav-cats-small ul {
  display: flex;
  list-style: none;
  column-gap: 3rem;
}
.navbar .nav-cats-small ul a {
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
}
.navbar .nav-cats-small ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #aa00aa;
  transition: transform 0.3s;
}
.navbar .nav-cats-small ul a:hover:after {
  transform: scaleX(1);
}
.navbar .nav-cats {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 17% 0 17%;
}
@media (max-width: 991px) {
  .navbar .nav-cats {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar .nav-cats {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .navbar .nav-cats {
    display: flex;
  }
}
.navbar .nav-cats ul {
  display: flex;
  list-style: none;
  column-gap: 3rem;
}
.navbar .nav-cats ul a {
  font-size: 14px;
  position: relative;
  padding-bottom: 10px;
}
.navbar .nav-cats ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #aa00aa;
  transition: transform 0.3s;
}
.navbar .nav-cats ul a:hover:after {
  transform: scaleX(1);
}

.page-container {
  width: 100%;
}
.page-container .sidebar {
  position: fixed;
  width: 30%;
  top: 121px;
  margin-bottom: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #18181b;
  overflow-y: scroll;
}
.page-container .sidebar::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.page-container .sidebar::-webkit-scrollbar-thumb {
  background: #858587;
}
.page-container .sidebar::-webkit-scrollbar-track {
  background: #c2c2c3;
}
.page-container .sidebar {
  scrollbar-face-color: #858587;
  scrollbar-track-color: #c2c2c3;
}
.page-container .sidebar ul {
  margin-right: 1.5rem;
}
.page-container .sidebar ul li {
  word-wrap: break-word;
  max-width: 15rem;
  padding: 0 10px 0 10px;
}
.page-container .sidebar ul li:hover {
  background-color: #0e0e10;
  border-radius: 5px;
}
.page-container .sidebar ul li a {
  display: block;
  font-size: 14px;
  padding: 15px 0;
  position: relative;
  padding-right: 30px;
}
.page-container .sidebar ul li a small {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 20px;
  color: #666;
}
.page-container .main {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2rem;
  column-gap: 2rem;
  margin-left: 30%;
}
.page-container .main .thread {
  height: 100%;
  margin: 0.5rem 2rem;
  flex-grow: 2;
  flex-shrink: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 20;
}
.page-container .main .thread h1 {
  width: 100%;
  font-size: 1.1rem;
  margin: 1rem 0;
  word-break: break-word;
  line-height: 1.4;
}
.page-container .main .thread h1:hover {
  text-decoration: underline;
}
.page-container .main .thread h4 {
  font-size: 0.8rem;
  margin: 1rem 0;
  word-break: break-word;
}
.page-container .main .thread .entries {
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 24px;
}
.page-container .main .thread .entries li {
  list-style: none;
}
.page-container .main .thread .entries li .body {
  white-space: pre-line;
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 250px;
  position: relative;
  font-size: 1rem;
}
.page-container .main .thread .entries li .body .spoiler {
  display: block;
  padding: 12px 0 12px 0;
}
.page-container .main .thread .entries li footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 120px;
}
.page-container .main .thread .entries li footer .feedback {
  float: left;
  position: relative;
  width: 45%;
}
.page-container .main .thread .entries li footer .feedback a {
  color: #858587;
  padding: 5px;
}
.page-container .main .thread .entries li footer .feedback a:hover {
  color: #aa00aa;
}
.page-container .main .thread .entries li footer .info {
  display: flex;
  flex-direction: column;
  text-align: right;
  float: right;
  width: 55%;
}
.page-container .main .thread .entries li footer .info .author a {
  font-size: 0.9rem;
}
.page-container .main .thread .entries li footer .info .author a:hover {
  text-decoration: underline;
}
.page-container .main .thread .entries li footer .info .link a {
  font-size: 0.9rem;
}
.page-container .main .thread .entries li footer .info .link a:hover {
  text-decoration: underline;
}
.page-container .main .thread .entries li footer .info .link small {
  color: #858587;
  font-size: 0.7rem;
}
.page-container .main .thread .entry-editor {
  height: 400px;
  width: 100%;
  display: block;
}
.page-container .main .thread .entry-editor .field-validation-error {
  display: block;
  padding-bottom: 5px;
  font-size: 0.8rem;
}
.page-container .main .thread .entry-editor form {
  display: block;
  height: inherit;
  width: 100%;
  background-color: #0e0e10;
  border-radius: 5px;
}
.page-container .main .thread .entry-editor form .text-editor {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
}
.page-container .main .thread .entry-editor form .text-editor .functions {
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}
.page-container .main .thread .entry-editor form .text-editor .functions button {
  background-color: #0e0e10;
  border-radius: 5px;
  border: 1px solid #aa00aa;
  display: inline-block;
  cursor: pointer;
  color: #efeff1;
  font-family: Arial;
  font-size: 0.75rem;
  padding: 8px 10px;
  text-decoration: none;
}
.page-container .main .thread .entry-editor form .text-editor .functions button:hover {
  background-color: #18181b;
}
.page-container .main .thread .entry-editor form .text-editor .functions button:active {
  position: relative;
  top: 1px;
}
.page-container .main .thread .entry-editor form .text-editor textarea {
  height: 77%;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #18181b;
  cursor: text;
  color: inherit;
  padding: 10px;
  resize: none;
}
.page-container .main .thread .entry-editor form .text-editor .process {
  height: 20%;
}
.page-container .main .thread .entry-editor form .text-editor .process button {
  display: inline-block;
  float: right;
  border-radius: 6px;
  border: 1px solid #a511c0;
  cursor: pointer;
  padding: 6px 24px;
  margin-top: 5px;
  background-color: #aa00aa;
  color: inherit;
}
.page-container .main .thread .entry-editor form .text-editor .process button:hover {
  outline: 1px solid #efeff1;
}
.page-container .main .res {
  margin: 1rem 2rem;
  flex-grow: 1;
  flex-shrink: 2;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.page-container .account-container {
  height: 90%;
  width: 90%;
}
.page-container .account-container .register {
  height: 100%;
  width: 100%;
}
.page-container .account-container .register .success {
  display: block;
  padding: 5px;
  background-color: #136e50;
  text-align: center;
}
.page-container .account-container .register h2 {
  padding: 1rem;
}
.page-container .account-container .register .account-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.page-container .account-container .register .account-form label {
  font-size: 1rem;
}
.page-container .account-container .register .account-form input {
  width: 50%;
  background-color: #464649;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}
.page-container .account-container .register .account-form input:hover {
  outline: none;
  border-color: #18181b;
}
.page-container .account-container .register .account-form input:focus {
  outline: none;
  background-color: #0e0e10;
  border-color: #aa00aa;
  color: #efeff1;
}
.page-container .account-container .register .account-form button {
  width: 50%;
  background-color: #0e0e10;
  border-color: #18181b;
  color: #aa00aa;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.page-container .account-container .register .account-form button:hover {
  outline: none;
  border: 2px solid;
  border-color: #aa00aa;
}

footer {
  content: "";
  display: block;
  width: 100%;
  height: 80px;
}
