@import 'normalize.css';
@import '_colors.scss';
@import '_mixins.scss';
@import url('../fonts/OpenSans-Light.ttf');

$OpenSans: 'Open Sans', sans-serif;

html {
    /*overflow-y: scroll;*/ height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $accent-color;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    min-height: 100%;
    /*background-color: $body-colour;*/
    background-color: $base-bg-colour;
    color: $base-font-colour;
    font-family: $OpenSans;
    /*@include scrollbars(.5em, slategray);*/
}

header {
    height: 6.313rem;
}

.field-validation-error {
    color: $accent-color;
}

.navbar {
    z-index: 9998;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: $base-bg-colour;
    height: inherit;
    width: 100%;
    border-bottom: 0.5px solid $accent-color;

    .nav-header {
        display: flex;
        height: 60%;
        align-items: stretch;
        flex-wrap: nowrap;

        .navbar-brand {
            flex-grow: 1;
            flex-shrink: 2;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;

            a {
                height: 100%;

                img {
                    height: 85%;
                }
            }
        }

        .navbar-search {
            flex-grow: 2;
            flex-shrink: 1;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;

            .search-container {
                height: 100%;
                flex-basis: 40rem;
                display: flex;
                justify-content: center;
                align-items: center;

                form {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;

                    input {
                        width: 65%;
                        height: 70%;
                        max-width: 40rem;
                        background-color: #464649;
                        border: 2px solid;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        padding: 15px;
                        display: inline-block;
                        float: left;

                        &:hover {
                            outline: none;
                            border-color: $base-bg-colour;
                        }

                        &:focus {
                            outline: none;
                            background-color: $body-colour;
                            border-color: $accent-color;
                            color: $base-font-colour;
                        }
                    }

                    button {
                        height: 70%;
                        width: 6%;
                        background-color: #464649;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border: 2px solid;
                        display: inline-block;
                        cursor: pointer;

                        img {
                            width: 60%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .navbar-user {
            flex-grow: 1;
            flex-shrink: 2;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 1.2rem;
            padding-right: 5px;

            a {
                position: relative;
                padding: 5px;
                text-decoration: none;
                @include link-anim();
            }

            .settings-toggle {
                cursor: pointer;

                &:before {
                    font-family: 'FontAwesome';
                    content: "\f013";
                }
            }

            .dropdown-content {
                display: none;
                position: relative;
                top: 4.8rem;
                right: 4rem;
                background-color: $base-bg-colour;
                min-width: 100px;
                z-index: 1;

                a {
                    padding: 10px;
                    display: block;
                    border: 1px solid $accent-color;
                    text-align: center;
                }
            }

            .show {
                display: block;
            }
        }
    }

    .nav-cats-small {
        @media (max-width: 991px) {
            display: flex;
        }

        @media (min-width: 992px) {
            display: none;
        }

        @media (min-width: 1200px) {
            display: none;
        }

        display: flex;
        height: 40%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        ul {
            display: flex;
            list-style: none;
            column-gap: 3rem;

            a {
                font-size: 13px;
                position: relative;
                padding-bottom: 10px;
                @include link-anim();
            }
        }
    }

    .nav-cats {
        @include responsive-hide();
        display: flex;
        height: 40%;
        justify-content: center;
        align-items: center;
        margin: 0 17% 0 17%;

        ul {
            display: flex;
            list-style: none;
            column-gap: 3rem;

            a {
                font-size: 14px;
                position: relative;
                padding-bottom: 10px;
                @include link-anim();
            }
        }
    }
}

.page-container {
    width: 100%;
    height: 100%;

    .sidebar {
        position: fixed;
        width: 30%;
        height: 100%;
        top: 121px;
        margin-bottom: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        background-color: $base-bg-colour;
        overflow-y: scroll;

        @include scrollbars(.5em, #858587);

        ul.sidebar-list {
            height: 100%;
            margin-right: 1.5rem;

            li {
                word-wrap: break-word;
                max-width: 15rem;
                padding: 0 10px 0 10px;

                &:hover {
                    background-color: $body-colour;
                    border-radius: 5px;
                }

                a {
                    display: block;
                    font-size: 14px;
                    padding: 15px 0;
                    position: relative;
                    padding-right: 30px;

                    small {
                        font-size: 12px;
                        position: absolute;
                        right: 0;
                        top: 20px;
                        color: #666;
                    }
                }
            }
        }
    }

    .main {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        margin-top: 2rem;
        column-gap: 2rem;
        margin-left: 30%;

        .thread {
            height: 100%;
            margin: 0.5rem 2rem;
            flex-grow: 2;
            flex-shrink: 1;
            width: 40%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            z-index: 20;

            h1 {
                width: 100%;
                font-size: 1.1rem;
                margin: 1rem 0;
                word-break: break-word;
                line-height: 1.4;

                &:hover {
                    text-decoration: underline;
                }
            }

            h4 {
                font-size: 0.8rem;
                margin: 1rem 0;
                word-break: break-word;
            }

            .user-info {
                display: block;
                width: 100%;
                min-height: 100px;
                font-size: 0.9rem;

                .bio {
                    display: block;
                }

                .stats {
                    display: block;
                    padding: 1rem 0 1rem 0;

                    ul {
                        display: flex;
                        flex-direction: row;
                        column-gap: 1rem;

                        .social {
                            a {
                                font-size: 1rem;
                                color: #858587;
                                padding: 1px;
                                cursor: pointer;

                                &:hover {
                                    color: $accent-color;
                                    position: relative;
                                    top: 1px;
                                }

                                &:active {
                                    position: relative;
                                    left: 1px;
                                }
                            }

                            .twitter {
                                color: #1DA1F2;
                            }

                            .instagram {
                                color: #F56040;
                            }

                            .spotify {
                                color: #1DB954;
                            }

                            .facebook {
                                color: #4267B2;
                            }
                        }
                    }
                }

                .manage {
                    display: block;
                    padding: 1rem 0 1rem 0;

                    ul {
                        display: flex;
                        flex-direction: row;
                        column-gap: 1rem;

                        a {
                            background: #65a9d7;
                            padding: 5px 12px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            color: $base-font-colour;
                            vertical-align: middle;
                            font-size: 0.9rem;

                            &:hover {
                                background: $base-bg-colour;
                            }

                            &:active {
                                background: $body-colour;
                            }
                        }

                        .message {
                            background: #383840;
                        }

                        .follow {
                            background: #383840;
                        }

                        .follow.active {
                            background: $accent-color;
                        }

                        .ignore {
                            background: #383840;
                        }

                        .ignore.active {
                            background: #871A00;
                        }

                        .report {
                            background: #383840;
                        }
                    }
                }
            }

            .user-entries {
                display: block;
                width: 100%;
                min-height: 100px;
                font-size: 0.9rem;

                .user-tabs {
                    border: 1px dashed #494949;
                    border-width: 1px 0;
                    margin: 0.9rem 0 0.9rem 0;

                    a {
                        color: $base-font-colour;
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }

                    ul {
                        display: flex;
                        flex-direction: row;

                        li {
                            padding: 0.9rem 1rem 0.9rem 1rem;
                            cursor: pointer;
                            display: block;
                            height: 100%;
                            width: 100%;

                            &:hover {
                                background: $accent-color;
                            }
                        }
                    }
                }

                .user-rss {
                    display: block;
                    margin-bottom: 3rem;

                    .rss-threads {
                        width: 100%;
                        word-wrap: break-word;
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                        line-height: 24px;

                        li {
                            list-style: none;

                            .body {
                                white-space: pre-line;
                                overflow: hidden;
                                position: relative;
                                font-size: 1rem;
                                line-height: 22px;

                                .spoiler {
                                    opacity: 0.9;
                                    background: $body-colour;
                                    border-radius: 5px;
                                    color: transparent;
                                    cursor: help;
                                    user-select: none;
                                    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;

                                    &:focus {
                                        background: none;
                                        color: inherit;
                                    }
                                }
                            }



                            footer {
                                margin-top: 10px;
                                display: flex;
                                flex-direction: row;
                                height: 120px;

                                .feedback {
                                    float: left;
                                    position: relative;
                                    width: 45%;

                                    a {
                                        color: #858587;
                                        padding: 5px;
                                        cursor: pointer;

                                        &:hover {
                                            color: $accent-color;
                                        }

                                        &:active {
                                            position: relative;
                                            top: 1px;
                                        }
                                    }

                                    .upvoted.active {
                                        color: $accent-color;
                                    }

                                    .downvoted.active {
                                        color: #c10000;
                                    }

                                    .fav.active {
                                        color: $accent-color;
                                    }
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    text-align: right;
                                    float: right;
                                    width: 55%;

                                    .author {
                                        a {
                                            font-size: 0.9rem;

                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }

                                    .link {
                                        a {
                                            font-size: 0.9rem;

                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }

                                        small {
                                            color: #858587;
                                            font-size: 0.7rem;
                                        }
                                    }
                                }
                            }
                        }

                        h1 {
                            width: 100%;
                            font-size: 1.1rem;
                            margin: 1rem 0;
                            word-break: break-word;
                            line-height: 1.4;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        ul {
                            li {
                            }
                        }
                    }
                }
            }

            .entries {
                width: 100%;
                word-wrap: break-word;
                margin-bottom: 1rem;
                margin-top: 1rem;
                line-height: 24px;

                li {
                    list-style: none;

                    .body {
                        white-space: pre-line;
                        overflow: hidden;
                        position: relative;
                        font-size: 1rem;
                        line-height: 22px;

                        .spoiler {
                            opacity: 0.9;
                            background: $body-colour;
                            border-radius: 5px;
                            color: transparent;
                            cursor: help;
                            user-select: none;
                            transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;

                            &:focus {
                                background: none;
                                color: inherit;
                            }
                        }
                    }



                    footer {
                        margin-top: 10px;
                        display: flex;
                        flex-direction: row;
                        height: 120px;

                        .feedback {
                            float: left;
                            position: relative;
                            width: 45%;

                            a {
                                color: #858587;
                                padding: 5px;
                                cursor: pointer;

                                &:hover {
                                    color: $accent-color;
                                }

                                &:active {
                                    position: relative;
                                    top: 1px;
                                }
                            }

                            .upvoted.active {
                                color: $accent-color;
                            }

                            .downvoted.active {
                                color: #c10000;
                            }

                            .fav.active {
                                color: $accent-color;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            text-align: right;
                            float: right;
                            width: 55%;

                            .author {
                                a {
                                    font-size: 0.9rem;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            .link {
                                a {
                                    font-size: 0.9rem;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                                small {
                                    color: #858587;
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                }
            }

            .entry-editor {
                height: 400px;
                width: 100%;
                display: block;
                margin-top: 20px;

                .field-validation-error {
                    display: block;
                    padding-bottom: 5px;
                    font-size: .8rem;
                }

                form {
                    display: block;
                    height: inherit;
                    width: 100%;
                    background-color: $body-colour;
                    border-radius: 5px;

                    .text-editor {
                        border: none;
                        outline: none;
                        height: 100%;
                        width: 100%;
                        padding: 1rem 2rem 2rem 2rem;

                        .functions {
                            display: block;
                            width: 100%;
                            height: 35px;
                            margin-bottom: 5px;

                            button {
                                background-color: $body-colour;
                                border-radius: 5px;
                                border: 1px solid $accent-color;
                                display: inline-block;
                                cursor: pointer;
                                color: $base-font-colour;
                                font-family: Arial;
                                font-size: 0.75rem;
                                padding: 8px 10px;
                                text-decoration: none;

                                &:hover {
                                    background-color: $base-bg-colour;
                                }

                                &:active {
                                    position: relative;
                                    top: 1px;
                                }
                            }
                        }

                        textarea {
                            height: 77%;
                            width: 100%;
                            border: none;
                            border-radius: 5px;
                            outline: none;
                            background-color: $base-bg-colour;
                            cursor: text;
                            color: inherit;
                            padding: 10px;
                            resize: none;
                        }

                        .process {
                            height: 20%;

                            button {
                                display: inline-block;
                                float: right;
                                border-radius: 6px;
                                border: 1px solid #a511c0;
                                cursor: pointer;
                                padding: 6px 24px;
                                margin-top: 5px;
                                background-color: $accent-color;
                                color: inherit;

                                &:hover {
                                    outline: 1px solid $base-font-colour;
                                }
                            }
                        }
                    }
                }
            }
        }



        .res {
            margin: 1rem 2rem;
            flex-grow: 1;
            flex-shrink: 2;
            width: 35%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .account-container {
        height: 90%;
        width: 90%;

        .register {
            height: 100%;
            width: 100%;

            .remember {
                display: block;

                input[type="checkbox"] {
                    width: 3%;
                    cursor: pointer;
                }
            }

            .success {
                display: block;
                padding: 5px;
                background-color: #136e50;
                text-align: center;
            }

            .error {
                display: block;
                padding: 5px;
                background-color: #850000;
                text-align: center;
            }

            h2 {
                padding: 1rem;
            }

            .account-form {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;

                label {
                    font-size: 1rem;
                }

                input {
                    width: 50%;
                    background-color: #464649;
                    border: 2px solid;
                    border-radius: 5px;
                    padding: 10px;

                    &:hover {
                        outline: none;
                        border-color: $base-bg-colour;
                    }

                    &:focus {
                        outline: none;
                        background-color: $body-colour;
                        border-color: $accent-color;
                        color: $base-font-colour;
                    }
                }



                button {
                    width: 50%;
                    background-color: $body-colour;
                    border-color: $base-bg-colour;
                    color: $accent-color;
                    border-radius: 5px;
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        outline: none;
                        border: 2px solid;
                        border-color: $accent-color;
                    }
                }
            }
        }
    }
}

.pagination {
    display: block;
    width: 100%;
    height: 30px;

    .paging-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        float: right;
        font-size: 0.8rem;

        .page-item {
            cursor: pointer;
        }

        .page-item.active {
            cursor: pointer;

            select {
                width: 45px;
                height: 30px;
                text-align: center;
                color: $base-font-colour;
                background-color: $base-bg-colour;
                border: 1px solid;
                border-radius: 5px;
                border-color: $body-colour;
            }
        }

        .page-item.divider {
            color: $accent-color;
            cursor: default;
        }

        .page-item.direction {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 25px;
            height: 30px;
            color: $base-font-colour;
            background-color: $base-bg-colour;
            border: 1px solid;
            border-radius: 5px;
            border-color: $body-colour;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }

        .page-item.last {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 30px;
            text-align: center;
            color: $base-font-colour;
            background-color: $base-bg-colour;
            border: 1px solid;
            border-radius: 5px;
            border-color: $body-colour;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.pagination-sidebar {
    display: block;
    width: 100%;
    height: 30px;
    margin: 5px 2rem 1rem 0;

    .paging-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        float: right;
        font-size: 0.8rem;

        .page-item {
            cursor: pointer;
        }

        .page-item.active {
            cursor: pointer;

            select {
                width: 45px;
                height: 30px;
                text-align: center;
                color: $base-font-colour;
                background-color: $base-bg-colour;
                border: 1px solid;
                border-radius: 5px;
                border-color: $body-colour;
            }
        }

        .page-item.divider {
            color: $accent-color;
            cursor: default;
        }

        .page-item.direction {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 25px;
            height: 30px;
            color: $base-font-colour;
            background-color: $base-bg-colour;
            border: 1px solid;
            border-radius: 5px;
            border-color: $body-colour;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }

        .page-item.last {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 30px;
            text-align: center;
            color: $base-font-colour;
            background-color: $base-bg-colour;
            border: 1px solid;
            border-radius: 5px;
            border-color: $body-colour;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

footer {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
}
