<div class="bio-editor" id="manageBio">
    <fieldset class="bio-editor">
        <span class="field-validation-error" data-valmsg-for="Bio" data-valmsg-replace="true"></span>
        <textarea id="bio" name="bio" placeholder="i don't know.. say something."></textarea>
        <div class="process">
            <button type="button" id="saveBio">save</button>
        </div>
    </fieldset>
</div>