@model definer.Entity.Users.Users

@{
    var User = (definer.Entity.Users.Users)ViewBag.User;
    ViewData["Title"] = Model.Username + " - definer";
}

@Html.Hidden("author", Model.Username)
<div class="thread">
    <h1><a href="/u/@CustomTagHelpers.FriendlyURLTitle(Model.Username)">@Model.Username</a></h1>
    <div class="user-info">
        <div class="stats">
            <ul>
                <li>15 entries</li>
                <li>5 followers</li>
                <li>2 following</li>
                <li class="social"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="social"><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="social"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                <li class="social"><a class="spotify" href="#"><i class="fab fa-spotify"></i></a></li>
            </ul>
        </div>
        <div class="bio">
            <p>this is my bio oh i'm so random lulz</p>
        </div>
        <div class="manage">
            <ul>
                <li><a class="message" href="#">message</a></li>
                <li><a class="follow" href="#">follow</a></li>
                <li><a class="ignore" href="#">ignore</a></li>
                <li><a class="report" href="#">report</a></li>
            </ul>
        </div>
    </div>
    <div class="user-entries">
        <div class="user-tabs">
            <ul>
                <li><a href="#">entries</a></li>
                <li><a href="#">favourites</a></li>
                <li><a href="#">media</a></li>
            </ul>
        </div>
        <div class="user-rss" id="rss-entries">  
        </div>
    </div>
</div>


@section Js {
    <script>
        $(document).ready(
            function () {
                authorpage.fill();
            },
        );
    </script>
}