
@{
    ViewBag.Title = "Definer";
}

<div class="main">
    <div class="content">
        <div class="thread-body">
            <div class="thread-container">
                <h1>
                    <a href="/">testing latest post testing latest post</a>
                </h1>
                <div class="thread-tools">
                    <div class="search">
                        <a onclick="searchbox()">search</a>
                        <div class="search-box" id="search-box">
                            <ul>
                                <li>
                                    <input type="text" />
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="follow"><a href="/">follow</a></div> <div class="paging">
                        <a href="/">«</a>
                        <select><option selected="selected">1</option><option>2</option></select>
                        /
                        <a href="/">9</a>
                        <a href="/">»</a>
                    </div>
                </div>
                <ul class="reply-content">
                    <li>
                        <div class="reply">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Phasellus</a> id lacus vel diam imperdiet lacinia.
                        </div>
                        <div class="reply-detail">
                            <div class="reactions">
                                <span class="rated">
                                    <a class="up"><i class="fas fa-angle-up fa-lg"></i>234</a>
                                    <a class="down"><i class="fas fa-angle-down fa-lg"></i>423</a>
                                </span>
                            </div>
                            <div class="info">
                                <a class="reply-date" href="/">10.12.2020 19:52</a>
                                <a class="author" onclick="authorbox()">author needs no name</a>
                                <div class="author-box" id="author-box">
                                    <ul>
                                        <li>
                                            <a href="/">snoop</a>
                                            <a href="/">send message</a>
                                            <a href="/">report</a>
                                            <a href="/">block</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="reply-content">
                    <li>
                        <div class="reply">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh massa, elementum at felis et, dictum semper augue. Ut in volutpat turpis. <br /><br /> Proin in tortor quis purus ornare ornare. Cras tempor ipsum id massa hendrerit, eu aliquet turpis ullamcorper. Fusce tempus semper nisi in feugiat.
                        </div>
                        <div class="reply-detail">
                            <div class="reactions">
                                <span class="rated">
                                    <a class="up"><i class="fas fa-angle-up fa-lg"></i>234</a>
                                    <a class="down"><i class="fas fa-angle-down fa-lg"></i>423</a>
                                </span>
                            </div>
                            <div class="info">
                                <a class="reply-date" href="/">10.12.2020 19:52</a>
                                <a class="author" onclick="authorbox()">author needs no name</a>
                                <div class="author-box" id="author-box">
                                    <ul>
                                        <li>
                                            <a href="/">snoop</a>
                                            <a href="/">send message</a>
                                            <a href="/">report</a>
                                            <a href="/">block</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><ul class="reply-content">
                    <li>
                        <div class="reply">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Donec tempor, justo pretium cursus mattis, arcu felis auctor neque,<br />  a dapibus turpis nunc ac orci. <br /> Pellentesque.
                        </div>
                        <div class="reply-detail">
                            <div class="reactions">
                                <span class="rated">
                                    <a class="up"><i class="fas fa-angle-up fa-lg"></i>234</a>
                                    <a class="down"><i class="fas fa-angle-down fa-lg"></i>423</a>
                                </span>
                            </div>
                            <div class="info">
                                <a class="reply-date" href="/">10.12.2020 19:52</a>
                                <a class="author" onclick="authorbox()">author needs no name</a>
                                <div class="author-box" id="author-box">
                                    <ul>
                                        <li>
                                            <a href="/">snoop</a>
                                            <a href="/">send message</a>
                                            <a href="/">report</a>
                                            <a href="/">block</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>