@model definer.Entity.Threads.Threads

@{
    ViewData["Title"] = Model.Title + " - definer";
}
<div class="thread">
    <h1><a href="/s/@CustomTagHelpers.FriendlyURLTitle(@Model.Title)">@Model.Title</a></h1>
    <div class="entries">
        
    </div>
</div>