
@{
    ViewData["Title"] = "oops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="view d-error">
    <i class="fas fa-exclamation-triangle"></i>
    <h1>this is not the page you're looking for..</h1>
    <h4>either that or something terrible has happened. check back later.</h4>
    <span>or.. <a href="javascript:history.back()">go back?</a></span>
</div>