
@{
    Layout = null;
}

<div class="menu">
    <div class="categories">
        <ul>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="default"><a href="/">test</a></li>
            <li class="cats">
                <div class="dropdown">
                    <a onclick="dropdown()" class="dropbtn"><i class="fas fa-ellipsis-h fa-lg"></i></a>
                    <div class="dd-content" id="dd-content">
                        <ul>
                            <li><a href="/">music</a></li>
                            <li><a href="/">politics</a></li>
                            <li><a href="/">whatever else</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>