
@{
    Layout = null;
}

<div class="sidebar">
    <div class="threads">
        <ul>
            <li><a href="">testing latest post<h6>70</h6></a></li>
            <li><a href="">testing latest post post<h6>50</h6></a></li>
            <li><a href="">testing latest post<h6>150</h6></a></li>
            <li><a href="">testing latest post latest post<h6>230</h6></a></li>
            <li><a href="">testing latest post<h6>55552</h6></a></li>
            <li><a href="">testing latest post<h6>6</h6></a></li>
            <li><a href="">testing latest post testing latest post<h6>+999</h6></a></li>
            <li><a href="">testing latest post<h6>230</h6></a></li>
            <li><a href="">testing latest post<h6>70</h6></a></li>
            <li><a href="">testing latest post post<h6>50</h6></a></li>
            <li><a href="">testing latest post<h6>150</h6></a></li>
            <li><a href="">testing latest post latest post<h6>230</h6></a></li>
            <li><a href="">testing latest post<h6>55552</h6></a></li>
            <li><a href="">testing latest post<h6>6</h6></a></li>
            <li><a href="">testing latest post testing latest post<h6>+999</h6></a></li>
            <li><a href="">testing latest post<h6>230</h6></a></li>
            <li><a href="">testing latest post<h6>70</h6></a></li>
            <li><a href="">testing latest post post<h6>50</h6></a></li>
            <li><a href="">testing latest post<h6>150</h6></a></li>
            <li><a href="">testing latest post latest post<h6>230</h6></a></li>
            <li><a href="">testing latest post<h6>55552</h6></a></li>
            <li><a href="">testing latest post<h6>6</h6></a></li>
            <li><a href="">testing latest post testing latest post<h6>+999</h6></a></li>
            <li><a href="">testing latest post<h6>230</h6></a></li>
        </ul>
    </div>
</div>
